<% if @user.errors.any? %>
  <div><%= pluralize(@user.errors.count, 'error') %></div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <%= content_tag(:li, msg) %>
    <% end %>
  </ul>
<% end %>